<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datenschutzerklärung - KITE II</title>
</head>

<body>
    <h1>KITE II</h1>
    <p>Heilbronn, 19.10.2023</p>
    <h2>Datenschutzerklärung</h2>

    <h3>1. Einleitung</h3>
    <p>Wir, das KITE II Team, nehmen den Schutz Ihrer persönlichen Daten sehr ernst.</p>

    <h3>2. Verantwortlicher</h3>
    <p>Verantwortlich für den Umgang mit personenbezogenen Daten im Rahmen dieser App ist:</p>
    <address>
        KITE II Team <br>
        Hochschule Heilbronn <br>
        Max-Planck-Str. 39 <br>
        D-74081 Heilbronn
    </address>

    <h3>3. Erfassung von Daten</h3>
    <p>In der Kite II App werden keine personenbezogenen Daten erfasst, erhoben oder gespeichert.</p>

    <h3>4. Cookies</h3>
    <p>Die Kite II App verwendet keine Cookies.</p>

    <h3>5. Änderungen der Datenschutzerklärung</h3>
    <p>Wir behalten uns vor, diese Datenschutzerklärung zu ändern, um sie an geänderte Rechtslagen oder bei Änderungen des Dienstes sowie der Datenverarbeitung anzupassen.</p>

    <h3>6. Kontakt</h3>
    <p>Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten wenden Sie sich bitte an:</p>
    <a href="mailto:Mergim.Miftari@hs-heilbronn.de">Mergim.Miftari@hs-heilbronn.de</a>
</body>

</html>
