<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datenschutzerklärung - KITE II</title>
</head>

<body>
    <h1>KITE II</h1>
    <p>Heilbronn, 09.10.2023</p>
    <h2>Datenschutzerklärung</h2>

    <h3>1. Einleitung</h3>
    <p>Wir, das KITE II Team, nehmen den Schutz Ihrer persönlichen Daten sehr ernst und behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften.</p>

    <h3>2. Verantwortlicher</h3>
    <p>Verantwortlich für die Verarbeitung von personenbezogenen Daten im Rahmen dieser App ist:</p>
    <address>
        KITE II Team <br>
        Hochschule Heilbronn <br>
        Max-Planck-Str. 39 <br>
        D-74081 Heilbronn
    </address>

    <h3>3. Erfassung von Daten</h3>
    <p>Wenn Sie sich in unserer Mobile App einen Account anlegen, so müssen Sie hierzu aktiv einen Benutzernamen, eine E-Mail-Adresse und ein Passwort angeben. Der Benutzername und die E-Mail-Adresse werden auf unserem Server abgespeichert. Des Weiteren werden von Ihnen gemachte „Gefällt mir“-Angaben und Kommentare ebenfalls auf dem Server gespeichert und ihrem Account zugewiesen.</p>

    <h3>4. Verwendung der Daten</h3>
    <p>Wenn Sie in unserer Mobile App eine Visual Novel kommentieren, so wird ihr Kommentar zusammen mit ihrem Benutzernamen angezeigt. Außerdem können Sie sich mit ihrem Benutzernamen einloggen.</p>
    <p>Die E-Mail-Adresse wird verwendet, um unsere Richtlinie zu unterstützen, dass jede benutzende Person höchstens einen Account besitzt. Daher werden Sie gebet bei der Registrierung eine E-Mail-Adresse anzugeben und diese zu bestätigen. Außerdem wird die E-Mail-Adresse verwenden, um Ihnen Anweisungen zur Passwort-Wiederherstellung zu senden, sofern Sie mal ihr Passwort vergessen sollten. Außerdem können Sie sich mit ihrer E-Mail-Adresse einloggen. Für andere Nutzende ist Ihre E-Mail-Adresse nicht sichtbar. Ihr Benutzername und Ihre E-Mail-Adresse werden vertraulich behandelt und nicht an Dritte weitergegeben. Sie werden ausschließlich zu den oben genannten Zwecken verwendet.</p>

    <h3>5. Weitergabe von Daten</h3>
    <p>Ihre Daten werden ausschließlich zu den oben genannten Zwecken verwendet und nicht an Dritte weitergegeben.</p>

    <h3>6. Löschung von Daten</h3>
    <p>Sie können jederzeit über unsere Mobil App Ihren Account löschen. Wenn Sie dies tun, werden sofort alle mit ihrem Account verbundenen Daten gelöscht.</p>

    <h3>7. Cookies</h3>
    <p>Unsere App verwendet keine Cookies.</p>

    <h3>8. Rechte des Nutzers</h3>
    <p>Sie haben das Recht, auf Antrag unentgeltlich Auskunft über die personenbezogenen Daten zu erhalten, die über Sie gespeichert wurden. Zusätzlich haben Sie das Recht auf Berichtigung unrichtiger Daten, Sperrung und Löschung Ihrer personenbezogenen Daten.</p>

    <h3>9. Sicherheit der Daten</h3>
    <p>Wir setzen technische und organisatorische Sicherheitsmaßnahmen ein, um Ihre Daten gegen Verlust und Manipulation zu schützen.</p>

    <h3>10. Datenübertragung ins Ausland</h3>
    <p>Ihre Daten werden nicht ans Ausland übertragen oder dort verarbeitet.</p>

    <h3>11. Änderungen der Datenschutzerklärung</h3>
    <p>Wir behalten uns vor, diese Datenschutzerklärung zu ändern, um sie an geänderte Rechtslagen oder bei Änderungen des Dienstes sowie der Datenverarbeitung anzupassen.</p>

    <h3>12. Kontakt</h3>
    <p>Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten wenden Sie sich bitte an:</p>
    <a href="mailto:Mergim.Miftari@hs-heilbronn.de">Mergim.Miftari@hs-heilbronn.de</a>
</body>

</html>
